.header {
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, 
            rgba(0, 0, 0, 0.7) 75%, #000000 100%), 
            url("https://media.discordapp.net/attachments/715934007283548241/725414944522109029/option-2-header-bg.jpg?width=1394&height=872");
  background-size: cover;
  resize: both;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header-div {
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#header {
  font-size: 100px;
}

.nav-bar {
  font-size: 20px;
  z-index: 2;
  position: relative;
  background-color: white;
  height: 70px;
}


@media (min-width: 200px) and (max-width: 779px) {
  #nav-menu, .nav-span {
    display: none;
  }

  .mobile-nav {
    background-color: white;
  }

  .btn:hover {
    
  }
}

@media (min-width: 780px) {

  span {
    padding: 20px;
  }

  .nav-bar {
    background-color: transparent;
  }

 #nav-btn {
    display: none;
  }

  #nav-menu {
    display: initial;
  }

  .mobile-nav {
    display: none;
  }
}


